body {
    margin: 0;
    padding: 0;
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
    /*height: 100vh;*/
	width: 100%;
	margin: 0%;
	border-radius: 0px;
}
.title {
	padding-top: 5%;
	padding-bottom: 0%;
}
#titleImage {
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 10%;
	text-align: left;
	float: left;
}
#mainMenu ul {
	margin-top: 5%;
}
#gameMode li {
	display: inline;
	margin: 2%;
}
#gameMode ul {
	margin-top: 3%;
}
#mode3D {
	touch-action: none;
}
.levelContainer {
	padding-top: 2%;
	padding-left: 3%;
	overflow: scroll;
	width: 90%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}
#setDifficulty {
	margin-top: 3%;
}
.messageBox {
	font-size: 20px;
}
.modal {
	padding-top: 3%;
}
.modalContent {
	height: 90%;
	width: 90%;
}
