* {
    margin: 0;
    padding: 0;
}
body {
    /* Keep the image in place */
    background-image: url("image/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Where the contents go */
#wrapper {
    border-radius: 25px;
    width: 80%;
    height: 700px;
    max-width: 900px;
    background-color: white;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
}
#wrapper h1 {
    padding: 25px;
}
#gameContainer {
    background-image: url("image/background2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 90%;
    height: 550px;
    margin-left: auto;
    margin-right: auto;
}
