* {
    margin: 0;
    padding: 0;
}
#gameContainer {
	position: relative;
	border-radius: 15px;
	width: 90%;
	height: 700px;
	max-width: 900px;
	margin: auto;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	overflow: hidden;
}
.screen {
	float: left;
	width: 100%;
	height: 700px;
	max-width: 900px;
	
}
#titleImage {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title {
	padding-top: 10%;
	text-align: center;
	font-size: 35px;
	padding-bottom: 20px;
}
nav {
	width: 10%;
	height: 10%;
	min-height: 60px;
	min-width: 60px;
	padding-top: 30px;
	padding-left: 30px;
}
#hamburger  img{
	width: 100%;
	height: 100%;
}
#hamburger:hover {
	opacity: 0.4;
}
#foldout {
	margin-top: 80px;
	width: 90%;
	height: 65%;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	border: 2px black solid;
}
#postLevel	 h1 {
	text-align: center;
	margin-top: 10%;
}
/* Buttons */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

li a {
	color: #1e6bb8;
	text-decoration: none;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.buttons {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	width: 60%;
	max-width: 200px;
}

.buttons:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}
/*Screen toggle button is to switch inbetween 3D and 2D views*/
.screenToggle a{
	float: right;
	margin-top: 6%;
	margin-right: 20px; 	
	width: 60px;
	height: 8%;
	line-height: 40px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.08);
	color: rgba(255, 255, 255, 0.7);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;

}
a:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}

#submit  a{
	float: right;
	margin-top: 6%;
	margin-right: 30px;
	width: 100px;
	height: 8%;
	line-height: 50px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

#colour {
	float: left;
	margin-top: 6%;
	margin-left: 30px;
	width: 100px;
	height: 8%;
	background-color: red;
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

#Exit a {
	float: left;
	width: 100px;
	height: 8%;
	line-height: 50px;
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}