
.cubeContainer {
    top: 25%;
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto 40px;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
	user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
	width: 196px;
	height: 196px;
	user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#cube {
    
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#cube figure {
    
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    border: 5px solid black;
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#cube .front  { background-color: white; }
#cube .back   { background-color: white; }
#cube .right  { background-color: white; }
#cube .left   { background-color: white; }
#cube .top    { background-color: white; }
#cube .bottom { background-color: white; }

#cube .front  { background: hsla(   0, 100%, 50%, 1 ); }
#cube .back   { background: hsla(  60, 100%, 50%, 1 ); }
#cube .right  { background: hsla( 120, 100%, 50%, 1 ); }
#cube .left   { background: hsla( 180, 100%, 50%, 1 ); }
#cube .top    { background: hsla( 240, 100%, 50%, 1 ); }
#cube .bottom { background: hsla( 300, 100%, 50%, 1 ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 100px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 100px ); }



