
/* Leaderboard Screen */
#leaderboard > div > table {
    padding: 20px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size: 20px;
    width: 100%;
	float: left;
}
@media screen and (max-height: 480px) {
	
}
#leaderboardRank,
#leaderboardName,
#leaderboardScore,
#leaderboardDate {
    padding: 0px 1em 0px 1em;
}

#leaderboard > div {
    width: 50em;
    margin: 0 auto;
}

#leaderboard > div > nav li {
    float: left;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

}

#leaderboard > div > nav li a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: inherit;
}

#leaderboard > div > nav li:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
}
