
/*  B = Button  */
.menuBSize {
    width: 40%;
	max-width: 180px;
}
/*  B = Button **/
.mobileBSize {
    width: 20%;
}

/* Default button design */
.buttons {
    padding: 20px;
    display: inline-block;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.buttons:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}