/* cube container is where the cube is stored prevent
the user from dragging and highlighting the cube */
#cubeContainer {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 40px;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    transform: translateY(150px) translateX(0px);
}
/* The modifies the image to match the size of the cube */
.cubeCover {
    width: 196px;
    height: 196px;
}
/* The cube itself where the transformation are applied */
#cubeRotatable {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -o-transition: -o-transform 0.1s;
    transition: transform 0.1s;
    transform: translateX(-50px) translateY(-100px);
}

/* The face of the cube */
#cubeRotatable figure {
    display: block;
    position: absolute;
    width: 196px;
    height: 196px;
    border: 5px solid black;
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Assigned the color white if the JS fails */
#cubeRotatable .front {
    background-color: white;
}
#cubeRotatable .back {
    background-color: white;
}
#cubeRotatable .right {
    background-color: white;
}
#cubeRotatable .left {
    background-color: white;
}
#cubeRotatable .top {
    background-color: white;
}
#cubeRotatable .bottom {
    background-color: white;
}


/* For future uses */
#cubeRotatable .front {
    background: hsla( 0, 100%, 50%, 0.7 );
}
#cubeRotatable .back {
    background: hsla( 60, 100%, 50%, 0.7 );
}
#cubeRotatable .right {
    background: hsla( 120, 100%, 50%, 0.7 );
}
#cubeRotatable .left {
    background: hsla( 180, 100%, 50%, 0.7 );
}
#cubeRotatable .top {
    background: hsla( 240, 100%, 50%, 0.7 );
}
#cubeRotatable .bottom {
    background: hsla( 300, 100%, 50%, 0.7 );
}


/* Rotates the cube to its proper orientation when moved */
#cubeRotatable .front {
    transform: rotateY( 0deg ) translateZ( 100px );
}

#cubeRotatable .back {
    transform: rotateX( 180deg ) translateZ( 100px );
}

#cubeRotatable .right {
    transform: rotateY( 90deg ) translateZ( 100px );
}

#cubeRotatable .left {
    transform: rotateY( -90deg ) translateZ( 100px );
}

#cubeRotatable .top {
    transform: rotateX( 90deg ) translateZ( 100px );
}

#cubeRotatable .bottom {
    transform: rotateX( -90deg ) translateZ( 100px );
}
