#pyramidContainer {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto 40px;
    text-align: center;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    perspective: 1000px;
    transform: translateY(300px) translateX(0px);
}


#pyramidRotatable img {
	width: 96px;
	height: 96px;
    display: block;
    margin: auto;
    transform: translateX(-50px) translateY(70px);
}

#pyramidRotatable .back img {
    transform: translateX(-50px) translateY(-160px);
}

#pyramidRotatable .bottom img {
    transform: translateX(0px) translateY(50px);
}

#pyramidRotatable {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -moz-transform 0.1s;
    -o-transition: -o-transform 0.1s;
    transition: transform 0.1s;
    transform: translateX(-50px) translateY(-100px);
}

#pyramidRotatable figure {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#pyramidRotatable figure:nth-child(n) {
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center
}

#pyramidRotatable figure:nth-child(5){
    display: block;
    position: absolute;
    width: 200px;
    height: 200px;
    border: 0;
    background-color: hsla( 240, 100%, 50%, 0.9 );
    line-height: 196px;
    font-size: 120px;
    font-weight: bold;
    color: white;
    text-align: center;
}

#pyramidRotatable.panels-backface-invisible figure {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#pyramidRotatable .front  { border-bottom: 200px solid hsla(   0, 100%, 50%, 0.9 ); }
#pyramidRotatable .back   { border-top: 200px solid hsla(  60, 100%, 50%, 0.9 ); }
#pyramidRotatable .right  { border-bottom: 200px solid hsla( 120, 100%, 50%, 0.9 ); }
#pyramidRotatable .left   { border-bottom: 200px solid hsla( 180, 100%, 50%, 0.9 ); }
#pyramidRotatable .bottom { border-bottom: 200px solid transparent; }

#pyramidRotatable .front  { transform: rotateX(  30deg ) rotateY(   0deg ) translateY(38px) translateZ(35px); }
#pyramidRotatable .back   { transform: rotateX( 150deg ) rotateY(   0deg ) translateY(-38px) translateZ(35px); }
#pyramidRotatable .right  { transform: rotateZ( -30deg ) rotateY(  90deg ) translateY(38px) translateZ( 35px ); }
#pyramidRotatable .left   { transform: rotateZ(  30deg ) rotateY( -90deg ) translateY(38px) translateZ( 35px ); }
#pyramidRotatable .bottom { transform: rotateX( -90deg ) translateZ( 102px ); }
