/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-May-2016, 4:09:35 PM
    Author     : Extrow - Laptop
*/
body{
    font-family: arial, sans-serif;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
button:focus {
    outline:0;
}
#wrapper{
    background-color:black;
    width: 320px;
    height: 480px;
    /*
    ~Smallest phone size~
    width: 320px;
    height: 480px;
    */
    
    /*
    ~Standard comp size~
    width: 1366px;
    height: 768px;
    */
    /*
    ~Minimum acceptable comp size~
    width: 1920px;
    height: 1080px;
    */
}

/*Screen to contain game parts*/
#gamescreen{
    border: solid 1px black;
    border-radius: 25px;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
    width: 60%;
    height: 80%;
    margin: auto;
    padding: 10%;
    position: relative;
}

/*Title text for each screen*/
.title{
    color: white;
    font-size: 2.5em;
    text-align: center;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(255,255,255,0.08);
    background-color: rgba(255,255,255,0.08);
}

.menuButton{
    /*Change text color to white*/
    color:white;
    
    /*Space buttons out relative to container size*/
    position: relative;
    margin: 5% 0;
    display: inline-block;
    width: 100%;
    height: 10%;
    
    /*Button color and style*/
    background-image: linear-gradient(120deg, #155799, #159957);
    text-decoration: none;
    
    /*Button border and shadow*/
    border: solid 1px;
    border-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #222222;
}
.center{
    display: block;
    margin:0 auto;
}

.toprightbutton {
    position: absolute;
    right: 10px;
    top: 10px;
    
    /*Move this into a general button selector*/
    /*Button color and style*/
    background-image: linear-gradient(120deg, #155799, #159957);
    text-decoration: none;
    color: white;
    
    /*Button border and shadow*/
    border: solid 1px;
    border-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    box-shadow: 1px 1px 2px #222222;
}
img{
    display: block;
}
#foldout{
    margin: auto;
}

/*Cube container size and positioning*/
#cubeContainer {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -0-perspective: 1000px;
    perspective: 1000px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*Cube image sizes*/
#cube img {
    width: 50px;
    height: 50px;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/*Cube overall positioning*/
#cube {
    width: 100%;
    height: 100%;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
}

#cube div {
    display: block;
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid black;
    line-height: 100px;
    font-size: 120px;    
    font-weight: bold;
    color: white;
    text-align: center;
}

#cube .front  { background: hsla(   0, 100%, 100%, 0.7 ); }
#cube .back   { background: hsla(  60, 100%, 100%, 0.7 ); }
#cube .right  { background: hsla( 120, 100%, 100%, 0.7 ); }
#cube .left   { background: hsla( 180, 100%, 100%, 0.7 ); }
#cube .top    { background: hsla( 240, 100%, 100%, 0.7 ); }
#cube .bottom { background: hsla( 300, 100%, 100%, 0.7 ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 50px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 50px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 50px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 50px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 50px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 50px ); }
