body {
	font-family: arial;
}

main {
	width: 320px;
	height: 480px;
	border: solid 1px gray;
	border-radius: 15px;
	overflow: hidden;
}

/* Title Screen */
#title_screen {
	float: left;
	width: 320px;
	height: 480px;
	background-color: #159957;
  	background-image: linear-gradient(120deg, #155799, #159957);
}

#title_screen > nav {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}

#hamburger:hover {
	opacity: 0.4;
}

#title {
	text-align: center;
	padding-top: 0px;
	font-size: 2em;
	font-weight: bold;
	margin: auto;
}

#titleImage {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

#titleImage img {
	width: 150px;
	height: 150px;
}

/* Buttons */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}

li a {
	color: #1e6bb8;
	text-decoration: none;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

li a:hover {
	text-decoration: underline;
}

.buttons {
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	width: 50%;
}

.buttons:hover {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}

/* Mode Selection Screen */
#menu_screen {
	float: left;
	width: 320px;
	height: 480px;
	padding-top: 160px;
	background-color: #159957;
  	background-image: linear-gradient(120deg, #155799, #159957);
}


/* Version A */
/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

li a {
	display: block;
	text-decoration: none;
	border: 0px solid #0a3c59;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	padding: 10.5px 21px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
	text-shadow: #7ea4bd 0 1px 0;
	color: #06426c;
	font-size: 14px;
	font-family: helvetica, serif;
	text-decoration: none;
	vertical-align: middle;
	text-align: center;
}

li a:hover {
	border: 0px solid #0a3c59;
	text-shadow: #1e4158 0 1px 0;
	background: #3e779d;
	background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
	background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
	background: -moz-linear-gradient(top, #65a9d7, #3e779d);
	color: #fff;
}

li a:active {
	text-shadow: #1e4158 0 1px 0;
	border: 0px solid #0a3c59;
	background: #65a9d7;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
	background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
	background: -moz-linear-gradient(top, #3e779d, #65a9d7);
	color: #fff;
}*/