#achievements {
	

background: #000000; /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

#achievementContent {
	margin-top: 40px;
	
}

#achievementIcon1 {
	display:none;
}

#achievementIcon2 {
	display:none;
}
#achievementIcon3 {
	display:none;
}

.AchievementBlocks {
	border: 5px ridge gold;
	width: 75%;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	border-radius: 15px;
	background-image: linear-gradient(to left, rgb(255, 179, 71), rgb(255, 204, 51));
}

.badge {
	border: 3px ridge black;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-left: -25px;
	margin-top: -15px;
	float: left;
	overflow: hidden;
	background: white;
}

.progressionBadge {
	text-align: center;
	border: 3px ridge black;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin-left: -37px;
	margin-top: -26px;
	float: left;
	background-color: gold;	
}

#progressBadgeHolder {	

	background: url("../image/orangeGemBadge.png");
	background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
	width: 100px;
	height: 100px;
	zoom: 0.8;
}

.description {
	text-align: center;
	margin-top: 13px;
}

#achievements h3 {
	margin-top: 0px;
	text-align: center;
	margin-left: 60px;
}

h1 {
	text-align: center;
}