@font-face {
    font-family: juneGull;
    src: url(../font/junegullrg.ttf);
}
button {
	font-family: juneGull;
	cursor: pointer;
	font-size: 20px;
	padding: 20px;
	margin-bottom: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*  B = Button  */
.menuBSize {
    width: 50%;
	max-width: 180px;
	padding: 20px 0px;
}

/*  B = Button **/
.mobileBSize {
    width: 20%;
}

/* Default button design */
.buttonDesign {
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px; /* Add thicker border? */
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}
.buttonDesign:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}

/* Grays out the button */
.deadButton {
	padding: 20px;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.02);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    font-size: 20px;
	cursor: default;
}

/* The backButton */
.backButton {
    background-image: url("../image/chevron2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
	width: 5%;
}

/* The hamburger */
.hamburger {
    background-image: url("../image/hamburger.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 10px;
    width: 20px;
}

/* The settings button */
.gear {
    background-image: url("../image/gears.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
}
.levelsButton {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 40px;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
}

.testDeadBtn {
	box-shadow: inset 0 4px 40px 0 rgba(0, 0, 0, 0.2), inset 0 6px 40px 0 rgba(0, 0, 0, 0.19);
	color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 1px; /* Add thicker border? */
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	cursor: default;
}