* {
    margin: 0;
    padding: 0;
}
#gameContainer {
	margin-top: 3%;
	margin-bottom: 3%;
	position: relative;
	border-radius: 15px;
	width: 90%;
	max-width: 900px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
	overflow: hidden;
}
#mainMenu {
	float: left;
	width: 100%;
	height: 700px;
	max-width: 900px;
	
}
#gameMode {
	float: left;
	width: 100%;
	height: 700px;
	max-width: 900px;
}
#classicMode {
	float: left;
	width: 100%;
	height: 700px;
	max-width: 900px;
	
}
#titleImage {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title {
	padding-top: 10%;
	text-align: center;
	font-size: 35px;
	padding-bottom: 20px;
	color: #159957;
}

#hamburger:hover {
	opacity: 0.4;
}
.cubeContainer {
	top: 30%;
}
/* Buttons */
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.buttons {
	padding: 20px;
	display: inline-block;
	margin-bottom: 1rem;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border-color: rgba(255, 255, 255, 0.2);
	border-style: solid;
	border-width: 1px;
	border-radius: 0.3rem;
	transition: color 0.2s, background-color 0.2s, border-color 0.2s;
	width: 60%;
	max-width: 200px;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
}

.buttons:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}
.buttons a {
	color: rgba(255, 255, 255, 0.7);
	text-decoration: none;
}
.buttons a:hover {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(255, 255, 255, 0.2);
	border-color: rgba(255, 255, 255, 0.3);
}