body {
	margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 95%;
}

html {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
    /*height: 100vh;*/
	width: 100%;
    height: 100%;
    max-height: 100%;
	margin: 0%;
	border-radius: 0px;
	background: transparent;
}

.bottomRight {
    bottom: 4%;
}

.bottomLeft {
	bottom: 4%;
}
#titleCubeContainer {
	float: left;
	margin-top: 3%;
	margin-left: 4%;
}

.title {
	padding-top: 5%;
	padding-bottom: 0%;
}

#cubeContainer {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#mainMenu ul {
	margin-top: 5%;
}
#gameMode li {
	display: inline;
	margin: 2%;
}
#gameMode ul {
	margin-top: 3%;
}
#mode3D {
	touch-action: none;
}
.levelContainer {
	padding-top: 2%;
	padding-left: 3%;
	overflow: scroll;
	width: 90%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}
#setDifficulty {
	margin-top: 3%;
}
.messageBox {
	font-size: 20px;
	top: 30%;
}
.modal {
	padding-top: 3%;
}
.modalContent {
	height: 90%;
	width: 90%;
}
.modalContent ol{
	margin: 0;
}

/* Zoom out content on mobile */
.zoomOutOnMobile {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8); 
}

#achievements {
	overflow: scroll;
}
#settingContent {
	margin-top: 10%;
}