body {
    margin: 0;
    padding: 0;
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
    /*height: 100vh;*/
	width: 100%;
    height: 100%;
    max-height: 100%;
	margin: 0%;
	border-radius: 0px;
}

.bottomRight {
    bottom: 4%;
}

.bottomLeft {
	bottom: 4%;
}
#titleCubeContainer {
    zoom: 0.8;
	float: left;
	margin-top: 3%;
	margin-left: 4%;
}

#classicHelp {
	zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.title {
	padding-top: 5%;
	padding-bottom: 0%;
}

#cubeContainer {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#mainMenu ul {
	margin-top: 5%;
}
#gameMode li {
	display: inline;
	margin: 2%;
}
#gameMode ul {
	margin-top: 3%;
}
#mode3D {
	touch-action: none;
}
.levelContainer {
	padding-top: 2%;
	padding-left: 3%;
	overflow: scroll;
	width: 90%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}
#setDifficulty {
	margin-top: 3%;
}
.messageBox {
	font-size: 20px;
	top: 30%;
}
.modal {
	padding-top: 3%;
}
.modalContent {
	height: 90%;
	width: 90%;
}
.modalContent ol{
	margin: 0;
}

/* Position badges on the left */
#badges {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp1 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp2 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp3 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp4 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp5 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp6 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}
#achievements {
	overflow: scroll;
}
.AchievementBlocks {
    zoom: 0.8;
}