
body {
    margin: 0;
    padding: 0;
}
.page-header {
	display: none;
}
.site-footer {
	display: none;
}
.main-content h1 {
	display: none;
}
.cubeContainer {
	top: 20%;	
}
#gameContainer {
    height: 95vh;
}