
body {
    margin: 0;
    padding: 0;
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
	
	width: 100%;
    height: 100%;
    max-height: 100%;
	margin: 0%;
	border-radius: 0px;
}

#titleCubeContainer {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#cubeContainer {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#mode3D {
	touch-action: none;
}

.levelContainer {
	padding-top: 5%;
	width: 90%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
}

#username {
	font-size: 30px;
	height: 50px;
}
.messageBox {
	font-size: 20px;
}
.modalContent {
	width: 90%;
	height: 90%;
}
.modalContent h1 {
	padding-top: 10%;
}
.modalContent li {
	margin: 3%;
}
/** iPhone 4 support **/
@media screen and (max-width: 320px) {
	#titleImage {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}

/* Position badges on the left */
#badges {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp1 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp2 div{
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp3 div{
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp4 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp5 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#classicHelp6 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#timeHelp1 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#timeHelp2 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#timeHelp3 div {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

.AchievementBlocks {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}