
body {
    margin: 0;
    padding: 0;
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
	
	width: 100%;
	margin: 0%;
	border-radius: 0px;
}
#mode3D {
	touch-action: none;
}

.levelContainer {
	padding-top: 5%;
	width: 90%;
	height: 40%;
	margin-left: auto;
	margin-right: auto;
}
#setDifficulty {
	margin-top: 25%;
}
#username {
	font-size: 30px;
	height: 50px;
}
.messageBox {
	font-size: 20px;
}
.modalContent {
	width: 80%;
}
.modalContent h1 {
	padding-top: 10%;
}
/** iPhone 4 support **/
@media screen and (max-width: 320px) {
	#titleImage {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}
