body {
	margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

html {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
	width: 100%;
    height: 100%;
    max-height: 100%;
	margin: 0%;
	border-radius: 0px;
	background: transparent;
}

/** Add Spacing to options **/
section li {
	padding-bottom: 4%;
}

#mode3D {
	touch-action: none;
}
#levelSelect {
	touch-action: none;
}
.levelContainer {
	padding-top: 5%;
	width: 90%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
}

#username {
	font-size: 30px;
	height: 50px;
}

.messageBox {
	font-size: 20px;
}

.modalContent {
	width: 90%;
	height: 90%;
}

.modalContent h1 {
	padding-top: 10%;
}

.modalContent li {
	margin: 3%;
}
/** iPhone 4 support **/
@media screen and (max-width: 320px) {
	#titleImage {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}

/* Zoom out content on mobile */
.zoomOutOnMobile {
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8); 
}

#levelPageNavDotContainer {
	width: 45%;
}