
body {
    margin: 0;
    padding: 0;
}

/** Change the game container to fit for mobile devices **/
#gameContainer {
	
	width: 100%;
	margin: 0%;
	border-radius: 0px;
}

#titleCubeContainer {
    display: block;
    border: 10px solid white;
    background: linear-gradient(240deg, #082445, #084524);
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 0;
    margin-right: 0;
    margin: auto;
    margin-bottom: 15px;
    width: 250px;
    height: 250px;
    zoom: 0.8;
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -o-transform: scale(0.8);
}

#mode3D {
	touch-action: none;
}

.levelContainer {
	padding-top: 5%;
	width: 90%;
	height: 60%;
	margin-left: auto;
	margin-right: auto;
}

#username {
	font-size: 30px;
	height: 50px;
}
.messageBox {
	font-size: 20px;
}
.modalContent {
	width: 90%;
	height: 90%;
}
.modalContent h1 {
	padding-top: 10%;
}
.modalContent li {
	margin: 3%;
}
/** iPhone 4 support **/
@media screen and (max-width: 320px) {
	#titleImage {
		margin-top: 5px;
		margin-bottom: 15px;
	}
}
