#settingContent {
    height: 100px;
    text-align: center;
    margin-top: 150px;
}

.muteButtons {
    margin-top: 20px;
}

#volumeControl {
    display: inline;
}

#volume li {
    display: inline;

}

#volumePercent {
    width: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#settingButtons {
    clear: both;
    margin: auto;
}

/*input[type=range]{
	-webkit-appearance: none;
    width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: black;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: black;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-fill-lower {
    background: grey;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: black;
    border-radius: 10px;
}*/