/*Container for the contents in the setting page*/
#settingContent {
    height: 100px;
    text-align: center;
    margin-top: 150px;
}

/*Positions the mute button*/
.muteButtons {
    margin-top: 20px;
}

/*Horizontally sets the volume control*/
#settingContent li {
	display: inline-block;
	padding-right: 10px;
}

