#overlay,
#proceed,
#preceed,
#endHelp,
#helpContainer,
#classicHelp1,
#classicHelp2,
#classicHelp3,
#classicHelp4,
#classicHelp5,
#timeHelp1, 
#timeHelp2, 
#timeHelp3 {
    display: none;
}

#overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: black;
    opacity: 0.7;
}

#helpContainer {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.helperDiv {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.helperDiv div {
    padding: 30px;
    font-size: 1.3em;
    text-align: center;
    color: #EEE;
    position: absolute;
    z-index: 4;
    border: 5px solid #EEE;
    background: linear-gradient(240deg, #082445, #084524);
}


#classicHelp1 div{    
    width: 300px;
    height: 200px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10%;
}

#classicHelp1 p {
    padding-left: 15px;
}

#classicHelp2 div{
    width: 300px;
    height: 150px;
    bottom: 70px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
}

#classicHelp3 div{
    width: 300px;
    height: 150px;
    padding: 30px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
}

#classicHelp4 div{
    width: 280px;
    height: 140px;
    bottom: 70px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
}

#classicHelp5 div{
    width: 280px;
    height: 140px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
}

#timeHelp1 div{    
    width: 300px;
    height: 200px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10%;
}

#timeHelp2 div{    
    width: 300px;
    height: 150px;
    bottom: 70px;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5%;
}

#timeHelp3 div{    
    width: 300px;
    height: 200px;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 10%;
}


#proceed,
#endHelp {
    position: absolute;
    z-index: 4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #EEE;
    bottom: 0;
    right: 0;
    border: 5px solid #EEE;
    background: linear-gradient(240deg, #082445, #084524);
    border-radius: 50%;    
}

#preceed {
    position: absolute;
    z-index: 4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #EEE;
    bottom: 0;
    left: 0;
    border: 5px solid #EEE;
    background: linear-gradient(240deg, #082445, #084524);
    border-radius: 50%;    
}
